<!DOCTYPE html>
<html>

<head>
    <base href="/public">
    <%totalmoney=0 %>
        <%- include('css') %>
            <style>
                .title {
                    margin-bottom: 5vh;
                }

                .card {
                    max-width: 100%;
                    width: 90%;
                    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.3);
                    border-radius: 1rem;
                    border: transparent;
                    margin-bottom: 50px;
                    margin-left: auto;
                    margin-right: auto;
                }

                @media(max-width:767px) {
                    .card {
                        margin: 3vh auto;
                    }
                }

                .cart {
                    background-color: #fff;
                    padding: 4vh 5vh;
                    border-bottom-left-radius: 1rem;
                    border-top-left-radius: 1rem;
                }

                @media(max-width:767px) {
                    .cart {
                        padding: 4vh;
                        border-bottom-left-radius: unset;
                        border-top-right-radius: 1rem;
                    }
                }

                .summary {
                    background-color: #ddd;
                    border-top-right-radius: 1rem;
                    border-bottom-right-radius: 1rem;
                    padding: 4vh;
                    color: rgb(65, 65, 65);
                }

                @media(max-width:767px) {
                    .summary {
                        border-top-right-radius: unset;
                        border-bottom-left-radius: 1rem;
                    }
                }

                .summary .col-2 {
                    padding: 0;
                }

                .summary .col-10 {
                    padding: 0;
                }

                .row {
                    margin: 0;
                }

                .title b {
                    font-size: 1.5rem;
                }

                .main {
                    margin: 0;
                    padding: 2vh 0;
                    width: 100%;
                }

                .col-2,
                .col {
                    padding: 0 1vh;
                }


                .back-to-shop {
                    margin-top: 4.5rem;
                }

                h5 {
                    margin-top: 4vh;
                }

                hr {
                    margin-top: 1.25rem;
                }

                select {
                    border: 1px solid rgba(0, 0, 0, 0.137);
                    padding: 1.5vh 1vh;
                    margin-bottom: 4vh;
                    outline: none;
                    width: 100%;
                    background-color: rgb(247, 247, 247);
                }

                input {
                    border: 1px solid rgba(0, 0, 0, 0.137);
                    padding: 1vh;
                    margin-bottom: 4vh;
                    outline: none;
                    width: 100%;
                    background-color: rgb(247, 247, 247);
                }

                input:focus::-webkit-input-placeholder {
                    color: transparent;
                }

                .btnSubmit {
                    background-color: #000;
                    color: #fff;
                }

                .btnSubmit:hover {
                    background-color: #f7444e;
                    border: 1px solid #f7444e;
                }

                .btnCss {
                    background-color: #000;
                    border-color: #000;
                    color: white;
                    width: 100%;
                    font-size: 0.7rem;
                    margin-top: 4vh;
                    padding: 1vh;
                    border-radius: 0;
                }

                .btnCss:focus {
                    box-shadow: none;
                    outline: none;
                    box-shadow: none;
                    color: white;
                    -webkit-box-shadow: none;
                    -webkit-user-select: none;
                    transition: none;
                }

                .btnCss:hover {
                    color: white;
                }

                a {
                    color: black;
                }

                a:hover {
                    color: blue;
                    text-decoration: none;
                }

                input[type="number"]::-webkit-inner-spin-button,
                input[type="number"]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                input[type="number"] {
                    -moz-appearance: textfield;
                    /* Firefox */
                }
            </style>
</head>

<body>
    <div class="hero_area">
        <%- include('header') %>
            <!-- <div class="container"> -->
            <div class="card">
                <div class="row">
                    <div class="col-md-9 cart">
                        <div class="title">
                            <div class="row">
                                <div class="col">
                                    <h4><b>Giỏ hàng của tôi</b></h4>
                                </div>
                                <div class="col align-self-center text-right text-muted">
                                    <%= CartNum%> sản phẩm
                                </div>
                            </div>
                        </div>
                        <% if (message) { %>
                            <div class="alert alert-<%= message.type %>">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                                <%= message.content %>
                            </div>
                            <% } %>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead style="background:skyblue;">
                                            <tr>
                                                <th scope="col">STT</th>
                                                <th scope="col">Tên sản phẩm</th>
                                                <th scope="col">Hình ảnh</th>
                                                <th scope="col">Giá</th>
                                                <th scope="col">Số lượng</th>
                                                <th scope="col">Thành tiền</th>
                                                <th scope="col">Thao tác</th>
                                            </tr>
                                        </thead>
                                        <% if(CartNum>0){ %>
                                            <tbody>
                                                <%var index=1; for(let cart of carts ) {%>
                                                    <tr>
                                                        <td>
                                                            <%= index++%>
                                                        </td>
                                                        <td>
                                                            <%= cart.product_id.title%>
                                                        </td>
                                                        <td>
                                                            <img src="<%= cart.product_id.image%>"
                                                                style="width: 3.5rem;">
                                                        </td>
                                                        <td>
                                                            <%= numberFormat(cart.price)%>
                                                        </td>
                                                        <td>
                                                            <form id="quantity-form" style="display:inline-block;"
                                                                method="POST" action="/cart/edit/<%= cart._id%>">
                                                                <input type="number" name="quantity"
                                                                    class="form-control" step=1
                                                                    value="<%= cart.quantity%>" style="max-width:70px; 
                    border: 1px solid #e0dede; border-radius: 0px; text-align: center;" inputmode="numeric">
                                                                <input type="submit" hidden class="changeQuantity">
                                                            </form>
                                                        </td>
                                                        <td>
                                                            <%= numberFormat(cart.total_price)%>
                                                        </td>
                                                        <td>
                                                            <a href="/cart/delete/<%= cart._id%>"
                                                                onclick="confirmation(event)" class="btn btn-danger"><i
                                                                    class="bi bi-trash"></i> Xóa</a>
                                                        </td>
                                                    </tr>
                                                    <% totalmoney=totalmoney + cart.total_price %>

                                                        <%}%>
                                            </tbody>
                                            <%}%>
                                    </table>
                                    <% if(CartNum==0) {%>
                                        <p style="text-align:center;">Không có sản phẩm nào trong giỏ hàng, vui lòng quay lại trang chủ để mua sản phẩm!</p>
                                        <%}%>
                                </div>
                                <div class="back-to-shop"><a href="/">&leftarrow; Quay lại cửa hàng</a></div>
                    </div>
                    <div class="col-md-3 summary">
                        <div>
                            <h5><b>Tóm tắt đơn hàng</b></h5>
                        </div>
                        <hr>
                        <form action="" method="POST" id="checkoutForm">
                            <div class="row">
                                <input type="text" value="<%= user.name%>" name="name" id="name"
                                    placeholder="Nhập họ tên">
                                <input type="text" value="<%= user.phone%>" name="phone" id="phone"
                                    placeholder="Nhập số điện thoại">
                                <input type="text" value="<%= user.address%>" name="address" id="address"
                                    placeholder="Nhập địa chỉ">
                                    <input type="hidden" name="amount" value="<%= totalmoney %>">
                            </div>
                            <div class="row">
                                <p>Phương thức thanh toán:</p>
                                <select id="paymentMethod">
                                    <option class="text-muted">Thanh toán khi nhận hàng</option>
                                </select>
                            </div>
                            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                                <div class="col" style="font-weight:800;">TỔNG TIỀN</div>
                                <div>
                                    <%= numberFormat(totalmoney)%> VNĐ
                                </div>
                            </div>
                            <input type="submit" value="ĐẶT HÀNG" class="btnSubmit"></input>
                        </form>
                    </div>
                </div>
            </div>
            <!-- </div> -->


    </div>

    <!-- end comment section -->
    <!-- footer start -->
    <%- include('footer') %>
        <!-- footer end -->
</body>

<script>
    function confirmation(ev) {
        ev.preventDefault();
        var urlToRedirect = ev.currentTarget.getAttribute('href');
        Swal.fire({
            title: "Bạn có chắc muốn xóa sản phẩm này?",
            text: "Bạn sẽ không thể hoàn tác thao tác này!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Xóa",
            cancelButtonText: "Hủy"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = urlToRedirect;
            }
        });
    }

    document.addEventListener("DOMContentLoaded", function () {
        var checkoutButton = document.querySelector(".btnSubmit");
        var paymentSelect = document.getElementById("paymentMethod");
        var checkoutForm = document.getElementById("checkoutForm");

        checkoutButton.addEventListener("click", function (event) {
            event.preventDefault();

            var phone = document.getElementById("phone").value.trim();
            var phoneRegex = /^\d{10}$/;

            if (!phoneRegex.test(phone)) {
                alert("Số điện thoại phải đúng 10 chữ số.");
                return;
            }

            var selectedPaymentMethod = paymentSelect.value;

            if (selectedPaymentMethod === "Thanh toán khi nhận hàng") {
                checkoutForm.action = "/cash_order";
                checkoutForm.submit();
            }
        });
    });


</script>

</html>