<!DOCTYPE html>
<html>

<head>
  <%- include('css') %>
   <style>
      .arrival_section .description{
         padding: 100px 45px;
      }
      .inputSearch{
         width: 50%;
      }
       @media (max-width: 1000px) {
         .heading_container h2 {
            font-size: 2.5rem;
         }
         .arrival_section p{
            font-size:1rem;
         }
         @media (max-width: 1000px){
         .product_section .box .detail-box h5{
            font-size: 13px;
         }
         .product_section .box .detail-box h6 {
            font-size: 13px;
         }
      }
      }
      @media (max-width: 767px){
         .arrival_section .description{
            padding: 40px 45px;
         }
         .inputSearch{
            width: 70%;
         }
         .arrival_section img{
            width: 100%;
            height: 100%;
         }
      }
      @media (max-width: 335px){
         .inputSearch{
            width: 100%;
         }
      }
   </style>
</head>

<body>
   <div class="hero_area">
      <!-- header section strats -->
      <%- include('header') %>
      <!-- end header section -->
      <!-- slider section -->
      <%- include('slider') %>
      <!-- end slider section -->
   </div>
   <!-- why section -->
   <%- include('why') %>
   <!-- end why section -->

   <!-- arrival section -->
   <%- include('new_arival') %>
   <!-- end arrival section -->
   <!-- product section -->
   <%- include('product') %>
   <!-- end product section -->

   <!-- subscribe section -->
   <%- include('subscribe') %>
   <!-- end subscribe section -->
   <!-- client section -->
   <%- include('client') %>
   <!-- end client section -->
   <!-- footer start -->
   <%- include('footer') %>
   <!-- footer end -->
</body>

</html>