<%- include('header') %>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Reset Pass</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div>
			</div>
			<% if (message) { %>
				<div class="alert alert-<%= message.type %>">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
					<%= message.content %>
				</div>
			<% } %>
			<div class="card-body">
                <form method="POST" action="/reset/token=<%= user.emailToken%>">
                    <input type="hidden" name="token" value="">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope"></i></span>
						</div>
						<input id="email" type="email" class="form-control" name="email" value="<%= user.email%>" required autofocus autocomplete="username" readonly>
                                <span class="invalid-feedback" role="alert">
                                    <strong></strong>
                                </span>
					</div>
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input id="password" type="password" class="form-control" name="password" required autocomplete="new-password" placeholder="New Password">
                                <span class="invalid-feedback" role="alert">
                                    <strong></strong>
                                </span>
					</div>
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input id="password-confirm" type="password" class="form-control" name="password_confirmation" required autocomplete="new-password" placeholder="Confirm password">

					</div>
					<div class="form-group">
						<input type="submit" value="Reset" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
                    <a href="/login">Back to Login</a>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
<%- include('script') %>